.chef_hat {
    height: 50px !important;
}
.group_families{
    height: 40px !important;
}
@font-face {
    font-family: Dia;
    src: url(../fonts/Dia_Regular.otf);
}
@font-face {
    font-family: DiaBlack;
    src: url(../fonts/Dia_Black.otf);
}
@font-face {
    font-family: DiaBold;
    src: url(../fonts/Dia_Bold.otf);
}

* {
    padding: 0;
    margin: 0;
}
.container {
    width: 360px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}
.container section {
    padding: 20px 30px 50px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col {
    padding-left: 15px;
    padding-right: 15px;
}
p {
    margin: 0;
    color: #101727;
    font-family: Dia;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: none;
}
.text-center {
    text-align: center;
}
.text-white {
    color: #fff6e0;
}
.font15 {
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.font18 {
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 18px;
}
.font25 {
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 22px;
    font-family: 'DiaBold';
}
.font36 {
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: 900;
    font-family: DiaBlack;
}
.col-2 {
    width: 50%;
    float: left;
}
.clear {
    clear: both;
}
.heading {
    margin: 36px 0;
}
p.text-center.img-box {
    height: 59px;
    position: relative;
    width: 100%;
}

p.text-center.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto; /* to keep proportions */
    height: auto; /* to keep proportions */
    max-width: 100%; /* not to stand out from div */
    padding-bottom: 10px;
    margin: auto auto 0; /* position to bottom and center */
}
.mt-1 {
    margin-top: 40px;
	float:left;
	width: 100%;
}
img.discounted {
	max-height: 47px;
}
img.vip {
	max-height: 36px;
}
img.community {
	max-height: 42px;
}
img.swag {
	max-height: 50px;
}
.image-icon {
    margin-top: 15px;
    margin-bottom: 60px;
}
section {
    position: relative;
}
section:after {
  position:  absolute;
  background: url(../images/outline@2x.png);
  content: "";
  width:  100%;
  height:  6px;
  background-repeat:  no-repeat;
  left:  0;
  bottom: -4px;
  z-index:  9999;
  background-size: cover;
}
section:last-child:after {
  background: none;
  content: none;
}
/* section -1 */
#section-1 {
    background: #fff6e0;
}
.logo {
    margin-top: 10px;
    margin-bottom: 58px;
}
.downArrow {
    text-align:  center;
    padding: 93px 0 0 0;
}
/* section 2 */
#section-2 {
    background: #FFCC10;
}
#section-2 .join-us {
    margin: 38px 0 0 0;
}
/* section 3 */
 #section-3 {
    background: #FFA95B;
}
/* section 4 */
#section-4 {
    background: #FFF6E0;
}
#section-5 .desc, #section-6 .desc, #section-7 .desc {
    margin-top: 24px;
}
/* section 6 */
#section-6 {
    background: #FFCC10;
}
/* section 7 */
#section-7 {
background: #FFF6E0;
}
/* section 8 */
#section-8 {
    background: #FF5838;
}
#section-8 {
    padding-top: 50px;
    padding-bottom: 60px;
}

@media only screen 
  and (max-device-width: 568px){
.font25 {
    font-size: 22px;
}
.font36 {
    font-size: 25px;
    line-height: 24px;
}
}    
